<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

    <title>FUZE</title>
</head>

<body>
    <header>
        <h2><a href="/"><img src="image/logo.png" style="width: 20%"></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/play">Find Game</a>
                </li>
                <li>
                    <a href="/play/add">Add Team</a>
                </li>
            </ul>
        </nav>
    </header>

    {{{body}}}
</body>

</html>