<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>FUZE</title>
</head>

<body>
    <header class="inner">
        <h2><a href="/"><img src="image/logo.png" style="width: 20%"></h2>
        <nav>
            <ul>
                <li>
                    <a href="/"> Home</a>
                </li>
                <li>
                    <a href="/play">Find Game</a>
                </li>
                <li>
                    <a href="/play/add">Add Team</a>
                </li>
            </ul>
        </nav>
    </header>

  <div class="container"> 
    {{{body}}}
  </div>

</body>

</html>
