<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">{{teamData.teamName}}</h5>
          <p>
            <strong>Team ID:</strong>: {{teamData.id}}</p>
          <p>
            <strong>Description:</strong> {{teamData.teamDescription}}
          </p>
        </div>
        <div class="card-body" id='member1'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>
          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member2'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member3'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member4'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member5'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member6'>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <a href="/">← Back To Home</a>

      </div>
    </div>
  </div>
</div>