<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">{{teamData.teamName}}</h5>
          <p>
            <strong>Team ID:</strong>: {{teamData.id}}</p>
          <p>
            <strong>Description:</strong> {{teamData.teamDescription}}
          </p>
        </div>
        <div class="card-body" id='member1'>
          <button class="open-button joinTeam1">Join Team</button>
          <div class="form-popup" id="joinTeamForm1">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>
          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member2'>
          <button class="open-button joinTeam2">Join Team</button>
          <div class="form-popup" id="joinTeamForm2">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member3'>
          <button class="open-button joinTeam3">Join Team</button>
          <div class="form-popup" id="joinTeamForm3">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member4'>
          <button class="open-button joinTeam4">Join Team</button>
          <div class="form-popup" id="joinTeamForm4">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member5'>
          <button class="open-button joinTeam5">Join Team</button>
          <div class="form-popup" id="joinTeamForm5">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        <div class="card-body" id='member6'>
          <button class="open-button joinTeam6">Join Team</button>
          <div class="form-popup" id="joinTeamForm6">
            <form action="/action_page.php" class="form-container">
              <h1>Join Team</h1>

              <label for="blizzardID"><b>Blizzard ID</b></label>
              <input type="text" placeholder="Enter Blizzard ID" name="blizzardID" required>

              <label for="role"><b>role</b></label>
              <input type="text" placeholder="Main Role" name="role" required>

              <button type="submit" class="btn">Join</button>
              <button type="submit" class="btn cancel closeJoinTeam">Close</button>
            </form>
          </div>
          <p>
            <strong>Member ID</strong>: EXAMPLE ID</p>

          </p>
          <p>
            <strong>Username</strong>: EXAMPLE USERNAME</p>
          <p>
            <strong>Role</strong>: HEALER
          </p>
        </div>
        {{!-- <a href="/">← Back To Home</a> --}}
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>