.list-group-item {
  line-height: 2.5;
}

.form-popup {
  display: none;
}

:root {
  --primary-color: #000000;
  --primary-hover-color: #FA9C1D;
  --primary-color-gray: #4A4C4E;
  --bg-color: rgb(87, 84, 84);
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  background: url('../image/BG3.jpg') no-repeat center center fixed / cover;
}

/* Header */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

/* VIDEO - Header */
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

.display-3{
  font-family: 'Alegreya Sans', sans-serif;
}

p {
  /* font-family: 'Alegreya Sans', sans-serif; */
  text-align: center;
}

h3 {
  font-family: 'Alegreya Sans', sans-serif;
  color: black;
  font-size: 28px;
}

a {
  font-family: 'Alegreya', sans-serif;
  color: rgb(255, 148, 8) !important;
  font-size: 18px;
}

.form-group {
  text-align: center;
}

/* ////////////////////////////////// */
/* TEAM LOBBY PAGE */
.card-body{
  margin-bottom: 10px;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

/* NOT MANIPULTING FONT ON TEAM LOBBY PAGE */
h5{
  /* font-family: 'Alegreya', sans-serif; */
  color: black;
  font-size: 28px;
}

.text-center{
  margin-top: 10px;
}

.open-button{
  padding: 10px;
  background: var(--primary-hover-color);
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.open-button:hover{
  background: var(--primary-color-gray);
  color: white;
}
/* ///////////////////////////////////// */

label {
  font-family: 'Alegreya Sans', sans-serif;
  color: black;
  font-size: 28px;
}

.row {
  flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 75px;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-top: 2px solid black;
  box-shadow: var(--box-shadow);
}


/* MEDIA QUERIES  */
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../image/OVR.png') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} 

/* NAV BAR */
.brand {
  margin-left: 0px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  position: absolute;
  width: 200px;
  left: 7%;
  top: 0px;
  padding: 10px;
  overflow: visible;
  z-index: 1;
}

#welcome_text {
  top: 30%;
}


/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .brand {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50px;
    }
  }