{{!-- //nave bar// --}}
<nav class="navbar navbar-dark bg-dark justify-content-end ">
  <a class="brand" href="/"><img style="height:170px;" src="/image/FUZE2.png"></a>
  <ul class="nav">
    <li id="nav_links" class="nav-item">
      <a class="nav-link" href="#">My Profile</a>
    </li>
    <li id="nav_links" class="nav-item">
      <a class="nav-link active" href="/">Team List</a>
    </li>
    <li id="nav_links" class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  </ul>
</nav>


<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4 text-center" id="heading"></h1>

  <!--Overall stats -->
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="" id="profilePic" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>Overall Stats</h3>
      <ul id="stats">
      </ul>
    </div>
  </div>
  <hr>
  <!--Competitive Stats-->
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="" id="compPic" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>Competitive Stats</h3>
      <ul id="compStats">
      </ul>
    </div>
  </div>
</div>
<!-- /.container -->


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/app.js"></script>