<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	{{!-- ORIGINAL SIGNIN FORM --}}
	{{!-- <form id="signin" name="signin" method="post" action="signin">
                <label for="email">Email Address</label>
                <input class="text" name="email" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <input class="btn" type="submit" value="Sign In" />
            </form> --}}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/image/FUZE2.png" class="brand_logo" alt="Logo">
					</div>
				</div>


				<div class="d-flex justify-content-center form_container">
					<form id="signin" name="signin" method="post" action="signin">
						<div class="input-group mb-3">
							<div class="input-group-append">
							</div>
							{{!-- class: text? form-control input_user --}}
							<input type="text" name="email" class="form-control input_user" value=""
								placeholder="email">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
							</div>
							<input type="password" name="password" class="form-control input_pass" value=""
								placeholder="password">
						</div>

						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="button" class="btn login_btn" value="Sign In">Login</button>
						</div>

					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>