<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">{{teamData.teamName}}</h5>
          <p>
            <strong>Team ID:</strong>: {{teamData.id}}</p>
          <p>
            <strong>Description:</strong> {{teamData.teamDescription}}
          </p>
          </div>
          <div class="card-body" id='member1'>
          <button class="open-button joinTeam1">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>
          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        <div class="card-body" id='member2'>
          <button class="open-button joinTeam2">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>

          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        <div class="card-body" id='member3'>
          <button class="open-button joinTeam3">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>

          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        <div class="card-body" id='member4'>
          <button class="open-button joinTeam4">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>
          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        <div class="card-body" id='member5'>
          <button class="open-button joinTeam5">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>

          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        <div class="card-body" id='member6'>
          <button class="open-button joinTeam6">Join Team</button>
          <p>
            <strong>Member ID</strong>:</p>

          </p>
          <p>
            <strong>Username</strong>:</p>
          <p>
            <strong>Role</strong>:
          </p>
        </div>
        {{!-- <a href="/">← Back To Home</a> --}}
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>