<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/signin.css" media="screen" title="no title" charset="utf-8">

    <title>FUZE</title>
</head>

<body>
    

    {{!-- <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/image/OVW2.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex text-left align-items-left">
                <div class="w-100 text-white"><a href="/"></a><img src="/image/FUZE2.png" style="width: 20%">
                
                </div>
            </div>
        

        <div class="d-flex text-center align-items-center">
            <div class="w-100 text-white">
                <p class="display-3">Find Your Team</p>
            </div>
        </div>

    </div>

    </header> --}}


    {{!-- <div class="container"> --}}
        
        {{{body}}}
    {{!-- </div> --}}

    <footer>
    <p>Copyright &copy;
    </p>
    </footer>

</body>

</html>
